<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.rgbpulse.gboard" android:versionCode="34" android:versionName="34.0">
 <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="34"/>
 <application android:label="Gboard RGB Pulse" android:icon="@drawable/ic_launcher" android:allowBackup="false" android:hasCode="true" android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
  <activity android:name=".SettingsActivity" android:exported="true" android:label="Gboard RGB Pulse" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/></intent-filter>
  </activity>
  <meta-data android:name="xposedmodule" android:value="true"/>
  <meta-data android:name="xposeddescription" android:value="Clipped keyboard-background lighting. No root overlay or key masks. Scope: Gboard only."/>
  <meta-data android:name="xposedminversion" android:value="93"/>
  <meta-data android:name="xposedsharedprefs" android:value="true"/>
  <meta-data android:name="xposedscope" android:resource="@array/xposed_scope"/>
 </application>
</manifest>
